backports.tarfile==1.2.0
boto3==1.37.15
cron-descriptor==2.0.6
dbt-postgres==1.9.0
dlt==1.6.1
duckdb==1.4.2
folium==0.20.0
geopandas==1.0.1
ipykernel==6.29.5
jaraco-functools==4.3.0
jaraco.collections==5.1.0
msgpack==1.1.0
pipdeptree==2.9.6
plotly==6.4.0
pyairtable==3.0.2
pyarrow==20.0.0
pytest-mock==3.15.1
ruff==0.9.9
sqlalchemy==2.0.44
sqlfluff==3.3.1
toml==0.10.2
tomli==2.0.1
twine==6.2.0
wheel==0.43.0
xmltodict==1.0.2